services:
  kinova_diffusion:
    container_name: kinova_diffusion
    working_dir: /home/user/kinova_diffusion
    build:
      context: .
      dockerfile: Dockerfile
      network: host
    network_mode: host
    tty: true
    privileged: true
    environment:
      - DISPLAY=${DISPLAY}
    devices:
      - /dev:/dev 
    volumes:
      - ../kinova_diffusion:/home/user/kinova_diffusion
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /dev/bus/usb:/dev/bus/usb

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
