<launch>
    <arg name="serial_no_camera1" default="123622270047"/> 			
    <arg name="camera1"           default="camera"/>	
    <arg name="tf_prefix_camera1" default="$(arg camera1)"/>
    <arg name="reconnect_timeout" default="6.0"/>
    <arg name="adapt_cameras" default="true"/>  
    <arg name="publish_tf" default="false"/>

    <group ns="$(arg camera1)">
      <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
        <arg name="serial_no"             value="$(arg serial_no_camera1)"/>
        <arg name="tf_prefix"         		value="$(arg tf_prefix_camera1)"/>
        <arg name="initial_reset"         value="true"/>
        <arg name="reconnect_timeout"     value="$(arg reconnect_timeout)"/>

        <arg name="align_depth"           value="true"/>
        <arg name="color_width"           value="640"/>
        <arg name="color_height"          value="480"/>
        <arg name="color_fps"             value="15"/>
        <arg name="depth_width"           value="640"/>
        <arg name="depth_height"          value="480"/>
        <arg name="depth_fps"              value="15"/>
        <arg name="publish_tf"            value="$(arg publish_tf)"/>
      </include>
    </group>
  
  </launch>